* {
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    gap: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}
.row {
    display:flex;
    
}
.box {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}
button {
    color: white;
    font-size: 20px;
}
h2 {
    color: white;
}